[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "bundle/vim-plug"]
	path = bundle/vim-plug
	url = https://github.com/junegunn/vim-plug
